@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-wrapper{
  background: url('../images/image1.jpg') no-repeat center center/cover;
  opacity: 0.9;
  height: 100vh;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding:1em 2em;

  .logo {
    font-weight: bold;
    
  }

  .logo:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

    li {
      padding: 0 0.6em;
    }
      a:hover {
        border-bottom: 1px solid #fff;
        cursor: pointer;
      }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 960px;
  margin: 0 auto;

  h1 {
    font-size: 3em;
    color: #fff;
    font-weight: bold;
    margin-top: 7em;
    margin-bottom: 1.7em;
  }

  p {
    font-size: 1.5em;
    color: #fff;
  }
}

.images {
  height: 70vh;
  display: flex;
}

.left-image {
  background: url('../images/image2.jpg')no-repeat center center/cover;
  width: 50%;
  height: 100%;
}

.right-image {
  background: url('../images/image3.jpg')no-repeat center center/cover;
  width: 50%;
  height: 100%;
}

#about {
  background-color: #102723;
  //background-color: #003D32;
  //opacity: 0.9;
  height: 70vh;
  h2{
    color: #fff;
    font-size: 0.9rem;
    max-width: 960px;
    margin: 0 auto;
    padding: 7em 0 1em 2em;
  }
  p {
    color: #fff;
    font-size: 3rem;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 1em;
  }

}
  #services {
    background-color: #f3f4f4;
    height: 50vh;
    width: 100%;
    color:  #003D32;

    h3 {
      font-size: 2em;
      max-width: 960px;
      margin: 0 auto;
      padding: 4em 0 2em 1em;
    }

    .activities {
      max-width: 960px;
      margin: 0, auto;
   

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 960px;
        margin: 0, auto;
        

        
        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #003D32;
          padding-left: 2em;
        }

          a.golf {
            color: #003D32;
            }
            

            a.mountain {
            color: #003D32;
            }
            
            a.ski {
            color: #003D32;

            }

            a.cabin {
            color: #003D32;
            //text-align: center;
            //justify-self: center;
            //align-self: center;
            }
    }
  }
}


